mixin products-content (labels, image, stickers)
    .products__content
        .products__block
            .products__labels
                each label in labels
                    .products__label
                        img.label__icon(src=`./assets/img/products/${label.img}_icon.svg`, alt=`${label.img} icon`)
                        span.label__title= label.title
            .products__image
                img(src=`./assets/img/products/tire_${image}.png`, alt=`tire_1`)
        if(stickers)
            .products__stickers
                each sticker in stickers
                    if (sticker)
                        .sticker.products__sticker
                            span.sticker__title(class= `sticker__title-${sticker.mod}`)= sticker.val
