- var selects = [{ id: '1', name: 'category', label: 'Все категории' }, { id: '2', name: 'brand', label: 'Все бренды' }, { id: '3', name: 'in_stock', label: 'Наличие' }, { id: '4', name: 'sort_by', label: 'Сортировать' }, { id: '6', name: 'sort_order', label: 'Порядок' }]
each item in selects
    .tab__selects(id=`tabSel_${item.id}`)
        select(aria-labelledby=`tabJobLabel_${item.id}` name=item.name data-placeholder=item.label class= `tab__select-native${item.id}`).tab__select-native
            option(value='' selected='')= item.label
        .tab__select-custom(aria-hidden='true' class= `tab__select-custom${item.id}`)
            .tab__trigger= item.label
            .tab__options
include __price/tab__price
